body{
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
    background-color: rgb(1, 1, 22);
}  
.navbar{
    width: 94%;
    padding: 0px 40px;
    color: white;
    background-color: rgba(0, 0, 48, 0.919);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons i{
    font-size: 25px;
    color: #f2f2f2;
    padding: 15px 20px;
    margin: 0px 10px;
}
.main-container{
    width: 90%;
    margin: 10% auto;
}
.top-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #808080;
    padding: 20px;
    padding-right: 50px;
}
.center-cont{
    width: 95%;
    margin: 0px auto;
    padding: 10px 0px;
    display: flex;
}
.figures{
    width: 50%;
}
.images{
    width: 50%;
}
.click-cont{
    display: flex;
}
.click-cont select{
    padding: 5px 10px;
    margin-right: 5px;
    color: #f2f2f2;
    background-color: rgb(1, 1, 22);
}
.click-cont select:visited{
    border: 1ps solid #f2f2f2;
    border-radius: 10px;
}
.top-figures{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.top-figures h2{
    margin: 8px 0px;
    color: white;
    font-size: 35px;
    margin-left: 8px;
}
.top-figures span{
    color: #808080;
    font-size: 11px;
    margin: 15px 0px;
}
.pag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f2f2f2;
    width: 93%;
    padding: 0px 15px;
}
.pag .fresh{
    font-size: 12px;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #f2f2f2;
    color: #000;
    margin: 10px 2px 0px 0px;
}
.images-middle{
    margin: 0px 5%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 2px rgba(0, 18, 39, 0.75);
}
.image-cont{
    width: 35%;
    border-right: 2px solid #f2f2f2;
    padding-top: 20px;
} 
.image-cont:last-of-type{
    border-right: none;
}
 .top-image-cont{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.top-image-cont p{
    color: #808080;
}
.center-image-cont{
    padding: 20px 0px 60% 20px;
    margin-top: 20px;
}
.center-image-cont h2{
    font-size: 18px;
    margin-bottom: 0px;
    color: #fff;
}
.center-image-cont span{
    color: #808080;
    font-size: 15px;
}
.hr-line{
    display: flex;
    width: 90%;
    margin: 35px auto 10px auto;

}
p span{
    color: blue;
}
h1{
    color: #f2f2f2;
    padding: 10px 25px;
    font-size: 30px;
}
#hr1{
    width: 20%;
    border: 1px solid blue;
}
#hr2{
    width: 80%;
}
#awesome{
    color: #f2f2f2;
    display: flex;
}
#number{
    padding: 0;
    font-size: 50px;
    padding-left: 40px;
}
#icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    margin: 10px 0px 28px 5px;
    color: #00ff00;
}
#pag{
    color: #f2f2f2;
    margin: 0;
    padding-left: 30px;
}
.line{
    display: flex;
    width: 45%;
    justify-content: space-between;
    padding: 10px 8px;
}
.line li{
    list-style: none;
    padding: 10px 13px;
}
.line li:first-of-type{
    border-bottom: 2px solid limegreen;
}
.line li:hover{
    background-color: brown;
    border-radius: 10px;
}
.line li a{
    text-decoration: none;
    color: #f2f2f2;
}
img{
    width: 40px;
    height: 40px;
    border-radius: 50%; 
}

.market-cap-cont{
    display: flex;
    width: 100%;
    margin-top: 50px; 
    box-shadow: 0px 1px 10px 2px rgba(0, 18, 39, 0.75);
    border-radius: 10px;
    padding-bottom: 10px;
}  
.market-cap{
    border-right: 2px solid white;
    width: 25%;
}
.market-cap:last-child{
    border-right: none;
}
.top-market-cap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.top-market-cap h2{
    font-size: 18px;
    margin-left: 30px;
}
.top-market-cap i{
    width: 20px;
    height: 20px;
    border-radius: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: #808080;
    color: black;
    font-size: 12px;
    font-weight: 50px;
}
.center-market-cap h1{
    padding-top: 25px;    
    margin-bottom: 0;
}
.center-market-cap #dollar{
    margin-right: 10px;
    color: #808080;
}
.color{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    margin-left:  35px;
    color: #00ff00;
}
.lemon, .letter-div .lemon{
    color: #00ff00;
}
.red{
    color: red;
}
#cap-pag{
    color: #808080;
    margin: 10px 35px;
}
.last-part{
    width: 100%;
    display: flex;
    padding-top: 10%;
    margin-top: 20px;
    color: #000;
    border-radius: 10px;
}
.last-first-part{
    width: 70%;
    box-shadow: 8px 18px 21px -4px rgba(0, 18, 39, 0.75);
    border-radius: 10px;
    padding: 20px 30px;
}
.last-second-part{
    width: 30%;
    box-shadow:  -1px 18px 38px 2px rgba(0, 18, 39, 0.75);
    border-radius: 10px;
}
.underline{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.underline ul{
    display: flex;
    justify-content: space-between;
    padding: 0%;
    margin-left: 40px;
    width: 70%;
}
.underline ul li{
    padding: 5px;
    list-style-type: none;
}
#blue{
    color: blue;
}
#color{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 5px;
    background-color: #4169E1;
}
#color:last-of-type{
    background-color: #808080;
}
.underline ul li:first-of-type{
    border-bottom: 1px solid blue;
}
.underline ul a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}
.iconed{
    display: flex;
    justify-content: center;
    width: 15%;
    margin-right: 30px;
    padding: 10px;
}
.lasta{
    margin-left: 8%;
    display: flex;
    padding: 5px 0px;
    justify-content: space-between;
}
.list-lasta{
    border: 1px solid #808080;
    color: white;
    display: flex;
    padding-right: 8px;
    width: 28%;
    justify-content: space-evenly;
    border-radius: 50px;
}
.list-lasta p{
    font-size: 12px;
}
.list-lasta div{
    width: 55px;
    text-align: center;
    background-color: #4169E1;
    border-radius: 50px;
}
.lasta2{
    justify-content: space-between !important;
}
#line-example-1 .line {
    --aspect-ratio: 25 / 7;
}
.text{
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.top-last{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px 15px 0px;
}
.top-last div{
    color: white;
    font-weight: 800;
    margin-left: 8px;
}
.top-last div #brown{
    color: #808080;
}
.letter-div{
    margin: 15px 20px;
}
.letter-div p{
    font-size: 13px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0px 1px 10px 2px rgba(0, 18, 39, 0.75);
}
.letter-div span{
    font-size: 12px;
    color: #808080;
    vertical-align: center;
}
.letter-div .red{
    display: flex;
    align-items: center;
    color: red;
}
@media screen and (max-width: 820px) {
    .navbar{
        width: 73%;
        margin: 0px auto;
        padding: 0px!important;
    }
    .navbar h1{
        font-size: 15px;
        padding: 5px;
    }
    .line{
        width: 30%;
        padding: 0;
        display: block;
        box-shadow:  -1px 18px 38px 2px rgba(0, 18, 39, 0.75);
    }
    .line li{
        padding: 3px;
        text-align: center;
    }
    .line li a, .pag #view, .top-cont p, .top-cont span, .center-image-cont h2{
        font-size: 10px;
    }
    .icons i{
        margin: 0;
        padding: 3px;
        font-size: 15px;
    }
    .main-container{
        width: 75%;
        margin-top: 15px!important;
        margin: 0px auto;
    }
    .top-cont{
        padding: 0!important;
        text-align: center;
        flex-direction: column;
        width: 90%;
        display: block;
        margin: 0px auto;
    }
    .click-cont{
        justify-content: center;
        width: 100%;
    }
    .click-cont select{
        padding: 2px;
        margin-right: 3px;
        font-size: 10px;
    }
    .center-cont{
        width: 90%;
        margin: 0px auto;
        display: block;
        border-radius: 10px;
        border-bottom: 2px solid rgba(0, 18, 39, 0.75);
    }
    .figures{
        width: 100%;
        padding-bottom: 8px;
    }
    .images{
        width: 100%;
    }
    .top-figures h2{
        margin: 4px 0px;
        font-size: 15px;
        margin-left: 4px;
    }
    .top-figures span{
        font-size: 6px;
        margin: 7px 0px;
    }
    img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    #number{
        padding: 0;
        font-size: 20px;
        padding-left: 25px;
    }
    #icons{
        font-size: 8px;
        width: 32px;
    }
    .pag{
        width: 80%;
        padding: 0px 6px;
    }
    .pag .fresh{
        font-size: 6px;
        padding: 3px;
        border-radius: 8px;
        background-color: #f2f2f2;
        color: #000;
        margin: 5px 2px 0px 0px;
    } 
    .images-middle{
        margin: 0px 3%;
    }
    .center-image-cont span, .top-image-cont p, #cap-pag{
        font-size: 12px;
    }
    .center-image-cont{
        padding: 10px 0px 30% 10px;
        margin-top: 10px;
    } 
    .market-cap-cont{
        flex-direction: column;
        margin-top: 25px!important;
        width: 90%;
        margin: 0px auto;
    }
    .market-cap{
        border-right: none;
        border-bottom: 2px solid white;
        width: 100%;
    }
    .center-market-cap h1, .top-market-cap h2{
        font-size: 18px;
    }
    .last-part{
        flex-direction: column;
        width: 100%;
        margin: 0px auto;
    }
    .last-first-part{
        border-radius: 10px;
        padding: 10px 15px;
        width: 100%;
    }
    .underline{
        width: 100%;
        margin: 0px;
    }
    .underline ul{
        width: 90%;
        margin-left: 0!important;
    }
    .underline ul li a, .list-lasta p{
        font-size: 8px;
    }
    .iconed{
        flex-direction: column;
        margin-right: 0;
        width: 10%;
    }
    #color{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-top: 5px;
        font-size: 9px;
    }
    #hide{
        display: none;
    }
    .lasta{
        margin: 20px 0px;
    }
    .list-lasta{
        width: 45%;
        align-items: center;
    }
    .list-lasta div{
        width: 35px;
        border-radius: 15px;
    }
    .last-second-part{
        width: 100%;
        padding: 5px 15px;
    }
}